# Virtual environments
langchain_project_venv/
chroma_immobilien/
chroma_medicine/
download_data_script/
venv/
env/
.venv/

# Python cache
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# Environment variables / secrets
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store/